# Ignore system files
.DS_Store
Thumbs.db

# Ignore Node modules
node_modules/
dist/
build/

# Ignore environment files
.env
.env.local
id.json

# Ignore log files
*.log

# Ignore xlsx
*.xlsx

# Ignore these folders
tests/
tools/bridge/node_modules/
tools/bridge/old/
tools/drift/node_modules/
tools/drift/OLD/
frontend/node_modules/
backend/keeper/OLD/
backend/logs/
backend/server/OLD/
backend/keeper/BACKUP/